# Node dependencies
node_modules/

# Vite build output
dist/
.vite/
vite.config.ts.timestamp*
vite.config.js.timestamp*

# Local environment variables
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# Editor configs
.vscode/


# OS junk
.DS_Store
Thumbs.db


# Testing
coverage/

# Temporary build folders (інколи у Pixi-проєктах)
temp/
tmp/
export/
release/